/*main html tags style  when updating styles in here, please also update the styles.php page accordingly...*/
body
{
  background-color: #9AB3B0;
  background-image: url(back.gif);background-repeat:repeat-x;
  font-family: 'museo-sans' !important;
    font-style: normal;
    font-weight: 300;

  color: #003c23;

  font-size: .8em;
  margin: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px
}

p       {
color: #003c23;
letter-spacing: normal;
padding-bottom: 0px;
padding-left: 5px;
padding-right: 5px;
padding-top: 0px;
text-align: justify;
text-indent: 0pt
}

h1, h2, h3, h4, h5, h6, ul.menu, ul.main-menu, nav
{
    font-family: 'museo-slab';
    font-style: normal;
    font-weight: 700;
}

.tweetbox {
height: auto;


}

table {border-collapse: collapse; margin-right: 10px}
.center {text-align: center;}
.center table { margin-left: auto; margin-right: auto; text-align: left;}
.center th { text-align: center !important; }
td, th { border: 1px solid #000000;  vertical-align: baseline;}



 .noborder { border: 0px solid #fff; }

a
{
  color: #3366cc;
  text-decoration: none
}
a:active
{
  color: #ff6666;
  text-decoration: underline
}
a:hover
{
  color: #ff6666;
  text-decoration: underline
}
a:link
{
  color: #3366cc
}
a:visited
{
  color: #cc6666
}
b
{
  font-weight: bold
}
blockquote
{
  border-bottom: medium none;
  border-left: #993333 thick outset;
  border-right: medium none;
  border-top: medium none;
  color: #666699;
  font-family: arial, tahoma,  sans-serif;
  height: 0pc;
  margin-left: 10pt;
  padding-left: 5pt;
  text-align: justify;
  text-decoration: none;
  text-indent: 0pt;
  width: 80%
}
hr
{
  color: #003c23;
  font-size: 95%
}

h1
{
  color: #003c23;
  font-family: arial, garamond, sans-serif;
  font-size: 14pt;
  margin: 5px;

}

h2
{
  background-color: #9AB3B0;
  color: #ffffff;
  font-family: arial, garamond, sans-serif;
  font-size: 12pt;
  font-weight: 600;
  margin-left: 2pt;
  text-align: left;
  width: 100%;
  clear:both;
}
h3
{
  color: #003c23;
  font-family: arial, garamond, sans-serif;
  font-size: 10pt;
  font-weight: 600;
  margin-left: 15pt;
  text-align: left;
}
h4
{
  color: #003c23;
  font-family: arial, garamond, sans-serif;
  font-size: 9pt;
  font-weight: 300;
  margin-left: 30pt;
  text-align: left;
}

ul
{
  margin: 10px;
  text-align: left
}
li
{
  font-weight:  normal;

}
pre {
  color: #0000ff;
  float: left;
  text-align: left;
  font-family: courier, monospace;
  font-size: 9pt;
  font-variant: normal;
  padding-left: 5px;
}
sub {
font-size: 8pt;
}
sup {
font-size: 9pt;
}
/*classes*/
/* placing images */
div.floatleft {
  float: left;
  }

div.floatleft p {
   text-align: center;
   }


div.floatright {
  float: right;
  }

div.floatright p {
   text-align: center;
   }

div.float {
    margin: 2em auto 0 auto;
    width: 550px;
  }

div.float p {
   text-align: center;
   }


li.simplelist
{
  font-size: 1em;
  font-weight: bold;
  margin-left: 5px;
  display: list-item;
  list-style-type: square;
  padding-left: 0px;


}
li.nicelist
{
  margin-bottom: 10px;
  display: list-item;
  padding-left: 0px;

}
.username
{
  color: #003c23;
  font-family: 'tahoma' , 'arial', sans-serif;
  font-size: 12pt;
  font-style: italic;
  font-variant: normal;
  font-weight: 600;
  text-transform: capitalize
}


.small    {
  color: #000099;
  text-align: center;
  font-family: tahoma, arial, sans-serif;
  width: 100%;
  font-size: 9pt;
  font-style: italic;
  padding-left: 5px;
}



.note    {
  color: #ccccff;
  text-align: left;
  font-family: tahoma, arial, sans-serif;
  font-size: 9pt;
  font-variant: normal;
}
.debug    {
  color: #cc0000;
  text-align: left;
  font-family: tahoma, arial, sans-serif;
  font-size: 9pt;
  font-variant: normal;
}

.width75 {
  color: #000099;
  float: left;
  text-align: left;
  width: 175px;
  height: 20px;
  font-family: 'arial narrow', arial, sans-serif ;
  font-size: 10pt;
  font-variant: normal;
  padding-left: 2px;
  overflow:hidden;
}

.motd {
width: 600px;
height:200px;
overflow: scroll;}

.copyright        {
  color: #666699;
  font-family: arial, sans-serif;
  font-size: 8pt;
  font-weight: 300;
  text-decoration: none
}
.spacer  { visibility: hidden;}
.hrbottom  {
padding: 0px;
border-bottom: 3px #003c23 solid;
height: 68px;
}
.areas  {
  color: #666699;
  font-family: tahoma, arial, sans-serif;
  font-size: 12pt;
  font-weight: bold;
  margin: 0px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-decoration: none;
}





.content
{
  font-family: arial, tahoma, sans-serif;
  font-size: smaller;
  letter-spacing: normal;
  margin: 5px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  text-align: left;
  text-indent: 5pt;
  height: 600em;
  /*background-color: #e6e8fa;*/

}






/*===============links========================*/
a.toplink:active {
  color: #ffff33;
  font-family: courier, monospace;
  font-size: 10pt;
  font-weight: normal;
  text-decoration: none
}
a.toplink:link
{
  color: #993300;
  font-family: courier, monospace;
  font-size: 10pt;
  font-weight: 600;
  text-decoration: none
}
a.toplink:visited
{
  color: #993300;
  font-family: courier, monospace;
  font-size: 10pt;
  font-weight: 600;
  text-decoration: none
}


a.roth:active {
  font-style: italic;
  text-decoration: none;
  color: #ffff33;
}
a.roth:link
{

  text-decoration: none;
  color: #006600;
}
a.roth:hover
{
  font-style: italic;
  text-decoration: underline overline;
  color: #006600;
}

a.roth:visited
{
  font-style: italic;
  text-decoration: none;
  color: #006600;
}
a.username:active
{
  color: #ffff33;
  font-family: courier, monospace;
  font-size: 10pt;
  font-weight: normal;
  text-decoration: none
}
a.username:link
{
  color: #ff6666;
  font-family: courier, monospace;
  font-size: 10pt;
  font-weight: 600;
  text-decoration: none
}
a.username:visited
{
  color: #660000;
  font-family: courier, monospace;
  font-size: 10pt;
  font-weight: 600;
  text-decoration: none
}

.footer {
	position: relative;
	width: 750px;
	left:-10px;
	margin-top:10px;
	border-top: solid 1px #808080;
	border-bottom: solid 1px #808080;
	margin-bottom: 2px;
	background-color: #ffffe8;
	text-align:center;
}

/*================form classes===========================*/
.formbox
{
padding: 5px; margin: 0px auto;
}

.row  /*usually a div: starts a row in a form*/
{
clear: both;
padding-top: 2px;
}

.infolabel {  /*label in a form : usually a span*/
  color: #666699;
  float: left;
  text-align: right;
  width: 150px;
  font-family: tahoma, arial, sans-serif;
  font-size: 9pt;
  font-variant: normal;
  font-weight: 700;

}
.info    { /*info in a form : usually a span*/
  color: #000099;
  float: left;
  text-align: left;
  width: 300px;
  font-family: tahoma, arial, sans-serif;
  font-size: 10pt;
  font-variant: normal;
  padding-left: 5px;
}
.help    {
  color: #666699;
  background-color: #e6e8fa;
  text-align: left;
  font-family: tahoma, arial, sans-serif;
  font-size: 9pt;
  font-variant: normal;
  text-align: left;
  width: 100px;
  padding-left: 2px;

}

/*================================================*/
/*=============Picture Gallery======================*/
.thumbnail
{
float: left;
width: 100px;
border: 0px solid #999;
margin: 0 15px 15px 0;
padding: 5px;
background-color: #fff;

}

.clearboth { clear: both; }
/*===================================================*/
/*=================table=============================*/
.borderarea         /*makes the flat outside border*/
{
  background-color: #cccccc;
}
.resulttable
{
  color: #003c23;
  font-family: tahoma, 'arial narrow', sans-serif;
  font-size: 80%;
}
.tablepageheader
{
  background-color: #85B6A6;
}
.rowodd
{
  background-color: #ffffff;
}
.roweven
{
  background-color: #F2F2CC;
}

/*===================================================================*/
/*===============================header ids===========================*/
#logo
{position: absolute;

	padding-top:0px;
	padding-bottom:0px;
	margin:0px;
	top: 5px;
	left:10px;
}
#Rlogo
{position: absolute;

	padding-top:0px;
	padding-bottom:0px;
	margin:0px;
	top: -2px;
	left:935px;
}


#title              {
                    color: #003c23;
  font-family: 'arial narrow', sans-serif;
  font-size: 2em;
  position: absolute;
     top: 35px;
     left: 260px;
     padding: 0;
}
#userline
{
display: none;
position: absolute;
top: 78px;
left: 650px;
width: 255px;
text-align: right;
}
#topline
{
display: none;
position: absolute;
top: 0px;
left: 650px;
width: 255px;
text-align: right;
}

#gowide
{
position: absolute;
top: 98px;
left: 130px;
color: #003c23;
width: 125px;
}

#NWmap {
	position: relative;
	top: 0px;
	width:310px;
	padding-left:10px;
	padding-bottom:10px;
	margin-left:20px;
	float:left;
	clear:both;
	}
#NWLegend {
	position:relative;
	float:right;
	width:400px;

	padding:10px;
	}
br {
	clear:both;
	}
/*===================================================================*/
/*============style sheet for tabs at the top of page================*/
#tabarea {
position: absolute;
top: 81px;
left: 260px;
font-size: 80%; font-weight: bold;
}
a.tab { background-color: #003c23; border: 0px solid #ccccff;  text-decoration: none; }
a.selectedtrue, a.selectedtrue:visited {background-color: #F2F2CC; color: #000000;}
a.selectedtrue:hover { background-color: #ffffff; color: #000000; }

a.selectedfalse, a.selectedfalse:visited {color: #ffffff; background-color: #85B6A6;}
a.selectedfalse:hover { background-color: #ffffff; color: #000000; }

.selectedtrue
{ background-color: #ffffff; border: 2px solid #cccccc; padding: 2px 1em 0px 1em; text-decoration: none;}
.selectedfalse
{ background-color: #003c23; border: 2px solid #cccccc; padding: 2px 1em 0px 1em; text-decoration: none;}
/*=====================================================================*/

